<div class="form-group">
	<label for="firstName" class="col-sm-2 control-label">First Name</label>
	<div class="col-sm-10">
		<input type="text" ng-model="person.FirstName" class="form-control" id="firstName" placeholder="First Name Here" />
	</div>
</div>
<div class="form-group">
	<label for="surname" class="col-sm-2 control-label">Surname</label>
	<div class="col-sm-10">
		<input type="text" ng-model="person.Surname" class="form-control" id="surname" placeholder="Last Name Here" />
	</div>
</div>
<div class="form-group">
	<label for="dateOfBirth" class="col-sm-2 control-label">Date Of Birth</label>
	<div class="col-sm-10">
		<input type="text" ng-model="person.DateOfBirth" class="form-control" id="dateOfBirth" placeholder="Date Of Birth Here" />
	</div>
</div>
<div class="form-group">
	<label for="gender" class="col-sm-2 control-label">Gender</label>
	<div class="col-sm-10">
		<select ng-options="o.id as o.name for o in genders" class="form-control" ng-model="person.GenderId" id="gender">
		</select>
	</div>
</div>
<div class="form-group">
	<div class="col-sm-offset-2 col-sm-10">
		<input type="submit" class="btn btn-primary" value="Save" />
	</div>
</div>