<div class="form-group">
	<label for="firstName" class="col-sm-3 control-label">First Name</label>
	<div class="col-sm-9">
		<input type="text" ng-model="person.firstName" class="form-control" id="firstName" ng-readonly="true" />
	</div>
</div>
<div class="form-group">
	<label for="surname" class="col-sm-3 control-label">Surname</label>
	<div class="col-sm-9">
		<input type="text" ng-model="person.surname" class="form-control" id="surname" ng-readonly="true" />
	</div>
</div>
<div class="form-group">
	<label for="firstParent" class="col-sm-3 control-label">First Parent</label>
	<div class="col-sm-9">
		<select ng-options="o.id as o.firstName for o in parents" class="form-control" ng-model="person.firstParentId" id="firstParent">
		</select>
	</div>
</div>
<div class="form-group">
	<label for="secondParent" class="col-sm-3 control-label">Second Parent</label>
	<div class="col-sm-9">
		<select ng-options="o.id as o.firstName for o in parents" class="form-control" ng-model="person.secondParentId" id="secondParent">
		</select>
	</div>
</div>
<div class="form-group">
	<div class="col-sm-offset-3 col-sm-9">
		<input type="submit" class="btn btn-primary" value="Save" />
	</div>
</div>