<a ui-sref="newChild" class="btn-primary btn-lg nodecoration">Add New Child</a>

<table class="table table-striped">
	<thead>
		<tr>
			<th>First Name</th>
			<th>Surname</th>
			<th>Date of Birth</th>
			<th>Gender</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="person in people">
			<td>{{person.firstName}}</td>
			<td>{{person.surname}}</td>
			<td>{{person.dateOfBirth | date:'yyyy-MM-dd'}}</td>
			<td>{{person.genderName}}</td>
			<td>
				<a class="btn btn-primary" ui-sref="assignChildParents({id:person.id})">Assign Parents</a>
			</td>
		</tr>
	</tbody>
</table>